@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --text-colour: #050505;
  --background-colour: #f1f2f5;
  --base-font-size: 16px;

  color: var(--text-colour);
  background-color: var(--background-colour);
  font-family: "Helvetica, Arial, sans-serif";
  font-size: var(--base-font-size);
}

html.dark {
  --text-colour: #e4e6eb;
  --background-colour: #18191a;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  box-shadow: inset 0 0 5px grey;
  border-radius: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

textarea {
  resize: none;
}

@layer base {
  .logo-text {
    font-family: sarif;
    font-size: calc(1vw + 1rem);
    font-weight: 900;
  }

  .text-ellipsis-2 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
  }

  .text-ellipsis-2 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
  }

  .text-direction-ltr {
    direction: ltr;
  }

  .text-direction-rtl {
    direction: rtl;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
}
